@use '../global/mixins' as mix;

.steps {
  padding-top: 28.6vh;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("/public-src/main-slide/main-slide5.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: var(--pri-color);

  @include mix.media-breakpoint-down('md') {
    padding-top: 8rem;
  }

  &__circle-container {
    display: flex;
    align-items: center;
    gap: 5.3rem;

    @include mix.media-breakpoint-down('md') {
      flex-direction: column;
    }
  }

  &__circle {
    position: relative;
    margin-left: 6.5rem;

    @include mix.media-breakpoint-down('l') {
      margin-left: 1rem;
    }
  }

  &__circle-text {
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 48px; /* 200% */
    letter-spacing: 2.4px;
    position: absolute;
    top: -59px;
    left: 45%;
  }

  &__slider {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    z-index: 2;
  }

  &__value-span {
    font-family: var(--second-family);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;

    @include mix.media-breakpoint-down('sm') {
      font-size: 2.5rem;
    }

    @include mix.media-breakpoint-down('xxs') {
      font-size: 2rem;
    }
  }

  &__steps-list {
    position: relative;
    width: 100%;

    @include mix.media-breakpoint-down('md') {
      margin-top: 13rem;
    }

    @include mix.media-breakpoint-down('xs') {
      margin-top: 7rem;
    }
  }

  &__title {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-left: 26.5rem;

    @include mix.media-breakpoint-down('md') {
      margin: 0 auto 2rem auto;
      text-align: center;
    }

  }

  &__step {
    position: absolute;
    bottom: -3rem;
    left: 0;
  }
}

.step {
  transition: opacity 0.7s ease;
  display: flex;
  opacity: 0;
  visibility: hidden;
  width: 100%;

  @include mix.media-breakpoint-down('md') {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


  &_show {
    opacity: 1;
    visibility: visible;
  }

  &__icon {
    margin-right: 3.5rem;
    @include mix.media-breakpoint-down('md') {
      margin: 2rem 0 1rem 0;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2.25rem;
    text-transform: uppercase;
    line-height: 1.3;
    max-width: 19.5rem;
    width: 100%;
    margin-right: 2rem;

    @include mix.media-breakpoint-down('xs') {
      font-size: 1.5rem;
    }
  }

  &__icon-row {
    position: relative;
    top: 1.9rem;
    margin-right: mix.rem(78);

    @include mix.media-breakpoint-down('lg') {
      display: none;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 1.66667;
    text-transform: uppercase;
    max-width: mix.rem(441);

    @include mix.media-breakpoint-down('xs') {
      font-size: 0.88rem;
    }
  }


}

#circle-second-step {
  @include mix.media-breakpoint-down('sm') {
    width: 180px;
    height: 180px;
  }

  @include mix.media-breakpoint-down('xxs') {
    width: 100px;
    height: 100px;
  }
}

.start-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(0%, -50%);
}

.point-circle {
  position: absolute;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#animated-path-c {
  animation: rotate 2s linear infinite;
  transform-origin: center;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}



