<div class="gallery gallery1 gallery_hidden">

    <button class="gallery__go-to-back  gallery__go-to-back_close">back to styles
        <span>
            <svg width="18" height="23" viewBox="0 0 18 23" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L17 11.5L1 22" stroke="white" stroke-opacity="0.5"/>
            </svg>
        </span>
    </button>
    <button class="gallery__go-to-back-alt gallery__go-to-back_close"></button>

    <div class="swiper-wrapper">

        <div class="swiper-slide gallery__slide">

            <img class="gallery__background-img" src="/public-src/images/elite-slide1.webp" alt="photo apartment">
            <div class="gallery__overlay"></div>

            <div class="gallery__point1-1 wave-point">

                <div class="wave-point__text">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>

                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point1-2 wave-point wave-point_top-left">

                <div class="wave-point__text wave-point__text_top-left">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point1-3 wave-point wave-point_bottom-left">

                <div class="wave-point__text wave-point__text_bottom-left">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point1-4 wave-point">

                <div class="wave-point__text">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point1-5 wave-point wave-point_top-left">

                <div class="wave-point__text wave-point__text_top-left">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

        </div>

        <div class="swiper-slide gallery__slide">

            <img class="gallery__background-img" src="/public-src/images/elite-slide2.webp" alt="photo apartment">
            <div class="gallery__overlay"></div>

            <div class="gallery__point2-1 wave-point wave-point_bottom-right">

                <div class="wave-point__text wave-point__text_bottom-right">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point2-2 wave-point">

                <div class="wave-point__text">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point2-3 wave-point wave-point_top-left">

                <div class="wave-point__text wave-point__text_top-left">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point2-4 wave-point">

                <div class="wave-point__text">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point2-5 wave-point ">

                <div class="wave-point__text wave-point__text_top-left">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

        </div>

        <div class="swiper-slide gallery__slide">

            <img class="gallery__background-img" src="/public-src/images/elite-slide3.webp" alt="photo apartment">
            <div class="gallery__overlay"></div>

            <div class="gallery__point3-1 wave-point">

                <div class="wave-point__text">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point3-2 wave-point wave-point_top-left">

                <div class="wave-point__text wave-point__text_top-left">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point3-3 wave-point wave-point_bottom-right">

                <div class="wave-point__text wave-point__text_bottom-right">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point3-4 wave-point">

                <div class="wave-point__text">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point3-5 wave-point wave-point_top-right">

                <div class="wave-point__text wave-point__text_top-right">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

        </div>

        <div class="swiper-slide gallery__slide">

            <img class="gallery__background-img" src="/public-src/images/elite-slide4.webp" alt="photo apartment">
            <div class="gallery__overlay"></div>

            <div class="gallery__point4-1 wave-point">

                <div class="wave-point__text">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point4-2 wave-point wave-point_top-left">

                <div class="wave-point__text wave-point__text_top-left">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point4-3 wave-point wave-point_bottom-right">

                <div class="wave-point__text wave-point__text_bottom-right">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point4-4 wave-point wave-point_top-left">

                <div class="wave-point__text">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

            <div class="gallery__point4-5 wave-point wave-point_top-left">

                <div class="wave-point__text wave-point__text_top-left">

                    Dismantling and Erection of interior partitions
                    <span>
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#FFAC30"/>
                        </svg>
                    </span>
                </div>
                <div class="wave-animation ">
                    <div class="wave-animation__circle wave-animation__circle--1"></div>
                    <div class="wave-animation__circle wave-animation__circle--2"></div>
                    <div class="wave-animation__circle wave-animation__circle--3"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="gallery__nav-block">

        <div class="gallery__button-prev">

            <svg width="25" height="31" viewBox="0 0 25 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 30L2 15.5L24 0.999999" stroke="white" stroke-width="2"/>
            </svg>
        </div>

        <div class="gallery__pagination">

            <span class="gallery__total-slides">3</span>

            <span class="gallery__current-slide">1</span>
        </div>

        <div class="gallery__button-next">

            <svg width="25" height="31" viewBox="0 0 25 31" xmlns="http://www.w3.org/2000/svg" fill="none">
                <path d="M1 1L23 15.5L1 30" stroke="white" stroke-width="2"/>
            </svg>
        </div>
    </div>

    <div class="gallery__call-back-form-wrapper">
        <load src="src/components/global/Form-call-back.html"/>
    </div>
</div>