<section class="cards-screen">

    <div class="cards-screen__blur-layer"></div>

    <div class="cards-screen__container">

        <ul class="cards-screen__cards-list">

            <li class="cards-screen__cards-item cards-screen__cards-item_1" factor="online">

                <div class="cards-screen__wrapper-img">

                    <div class="cards-screen__layout"></div>

                    <img class="cards-screen__img1" src="/images-con/cards/card-img1.webp" alt="image card">

                    <p class="cards-screen__text">Online broadcast
                        of repair
                    </p>
                </div>
            </li>

            <li class="cards-screen__cards-item cards-screen__cards-item_2" factor="video">

                <div class="cards-screen__wrapper-img">

                    <div class="cards-screen__layout"></div>

                    <img class="cards-screen__img2" src="/images-con/cards/card-img2.webp" alt="image card">

                    <p class="cards-screen__text">Video-
                        surveillance and alarm
                    </p>
                </div>
            </li>

            <li class="cards-screen__cards-item cards-screen__cards-item_3" factor="selection">

                <div class="cards-screen__wrapper-img">

                    <div class="cards-screen__layout"></div>

                    <img class="cards-screen__img3" src="/images-con/cards/card-img3.webp" alt="image card">

                    <p class="cards-screen__text">Selection of furniture </p>
                </div>
            </li>

            <li class="cards-screen__cards-item cards-screen__cards-item_4 cards-screen__cards-item_hidden"
                factor="household">

                <div class="cards-screen__wrapper-img">

                    <div class="cards-screen__layout"></div>

                    <img class="cards-screen__img4" src="/images-con/cards/card-img4.webp" alt="image card">

                    <p class="cards-screen__text">Household appliances</p>
                </div>
            </li>

            <li class="cards-screen__cards-item cards-screen__cards-item_5 cards-screen__cards-item_hidden"
                factor="ultra">

                <div class="cards-screen__wrapper-img">

                    <div class="cards-screen__layout"></div>

                    <img class="cards-screen__img5" src="/images-con/cards/card-img5.webp" alt="image card">

                    <p class="cards-screen__text">Ultra <br>
                        service
                    </p>
                </div>
            </li>

            <li class="cards-screen__cards-item  cards-screen__cards-item_show-button">

                <div class=""></div>

                <div class="cards-screen__wrapper-img">

                    <div class="cards-screen__layout"></div>

                    <img class="cards-screen__img6" src="/images-con/cards/card-img6.webp" alt="image card">

                    <p class="cards-screen__text cards-screen__text_gold">More services<img
                            src="/public-src/icons/gold-row.svg" alt=""></p>
                </div>
            </li>
        </ul>

        <div class="cards-screen__description">

            <div class="cards-screen__title-description"></div>

            <div class="cards-screen__inform"></div>
        </div>
    </div>

    <dialog class="style-popup" id="card-popup">

        <div class="style-popup__content">

            <button id="closePopUpCard">

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.6585 4.92888C18.049 4.53836 18.6822 4.53835 19.0727 4.92888C19.4632 5.3194 19.4632 5.95257 19.0727 6.34309L13.4158 12L19.0727 17.6568C19.4632 18.0473 19.4632 18.6805 19.0727 19.071C18.6822 19.4615 18.049 19.4615 17.6585 19.071L12.0016 13.4142L6.34481 19.071C6.3387 19.0771 6.33254 19.0831 6.32632 19.089C5.93455 19.4614 5.31501 19.4554 4.93059 19.071C4.6377 18.7781 4.56447 18.3487 4.71092 17.9876C4.75973 17.8672 4.83296 17.7544 4.93059 17.6568L10.5874 12L4.93059 6.34314C4.54006 5.95262 4.54006 5.31945 4.93059 4.92893C5.32111 4.5384 5.95428 4.5384 6.3448 4.92893L12.0016 10.5857L17.6585 4.92888Z"
                          fill="black"/>
                </svg>
            </button>

            <h5 class="style-popup__title-main"></h5>

            <div class="style-popup__sub-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
            </div>

            <ul class="style-popup__list">

                <li class="style-popup__item">
                    Dismantling and Erection of interior partitions
                </li>

                <li class="style-popup__item">
                    Leveling of walls under the beacon, finishing of walls under wallpaper
                </li>

                <li class="style-popup__item">
                    Making 90-degree angles
                </li>

                <li class="style-popup__item">
                    Electrical installation works (according to the project)
                </li>

                <li class="style-popup__item">
                    Dismantling and Erection of interior partitions
                </li>

                <li class="style-popup__item">
                    Leveling of walls under the beacon, finishing of walls under wallpaper
                </li>

                <li class="style-popup__item">
                    Making 90-degree angles
                </li>

                <li class="style-popup__item">
                    Electrical installation works (according to the project)
                </li>
            </ul>
        </div>
    </dialog>
</section>