<article class=" gallery-screen ">

    <div class="grid">

        <div class="grid__item init-slider" index="1">

            <load src="src/components/gallery/elite/elite-slides.html"/>

            <div class="grid__content">

                <div class="grid__title init-slider-button">Elite</div>

                <div class="grid__extra-content extra-content grid__extra-content_hidden"></div>
            </div>
        </div>

        <div class="grid__item init-slider" index="2">

            <load src="src/components/gallery/vip/vip-slides.html"/>

            <div class="grid__content">

                <div class="grid__title grid__title_mid grid__title_hidden">VIP</div>

                <div class="grid__extra-content extra-content grid__extra-content_hidden">

                    <div class="extra-content__description">THE VIP STYLE INCLUDES AN EXTENDED SET OF
                        WORKS. SUITABLE FOR THOSE WHO WANTS TO GET THE PERFECT RESULT.
                    </div>

                    <button class="extra-content__link init-slider-button">gallery
                        <span>
                                            <svg width="18" height="23"
                                                 viewBox="0 0 18 23" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M1 1L17 11.5L1 22" stroke="#FFAC30"/>
                                                 </svg>
                                        </span>
                    </button>

                    <div class="extra-content__services">list of services
                        <span>
                                            <svg width="18"
                                                 height="23"
                                                 viewBox="0 0 18 23"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L17 11.5L1 22" stroke="white" stroke-opacity="0.5"/>
                                            </svg>
                                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="grid__item init-slider" index="3">

            <load src="src/components/gallery/extra/extra-slides.html"/>

            <div class="grid__content">

                <div class="grid__title init-slider-button">EXTRA</div>

                <div class="grid__extra-content extra-content grid__extra-content_hidden"></div>

            </div>
        </div>
    </div>

    <dialog class="gallery-popup" id="service-list">

        <div class="gallery-popup__content">

            <div class="gallery-popup__wrapper">

                <div class="gallery-popup__logo-block">

                    <div class="gallery-popup__logo">VIP</div>
                </div>

                <div class="gallery-popup__text-block">

                    <button id="closeService">

                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.6585 4.92888C18.049 4.53836 18.6822 4.53835 19.0727 4.92888C19.4632 5.3194 19.4632 5.95257 19.0727 6.34309L13.4158 12L19.0727 17.6568C19.4632 18.0473 19.4632 18.6805 19.0727 19.071C18.6822 19.4615 18.049 19.4615 17.6585 19.071L12.0016 13.4142L6.34481 19.071C6.3387 19.0771 6.33254 19.0831 6.32632 19.089C5.93455 19.4614 5.31501 19.4554 4.93059 19.071C4.6377 18.7781 4.56447 18.3487 4.71092 17.9876C4.75973 17.8672 4.83296 17.7544 4.93059 17.6568L10.5874 12L4.93059 6.34314C4.54006 5.95262 4.54006 5.31945 4.93059 4.92893C5.32111 4.5384 5.95428 4.5384 6.3448 4.92893L12.0016 10.5857L17.6585 4.92888Z"
                                  fill="black"/>
                        </svg>

                    </button>

                    <h5 class="gallery-popup__title">from 3000 UAH.</h5>

                    <div class="gallery-popup__lists-group">

                        <ul class="gallery-popup__list">

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>
                        </ul>

                        <ul class="gallery-popup__list">

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>
                        </ul>

                        <ul class="gallery-popup__list">

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>

                            <li class="gallery-popup__item">
                                Dismantling and Erection of interior partitions
                            </li>

                            <li class="gallery-popup__item">
                                Accompanying the engineer and designer throughout the renovation
                            </li>

                            <li class="gallery-popup__item">
                                Assistance in selecting furniture, appliances, plumbing fixtures, finishing materials
                            </li>

                            <li class="gallery-popup__item">
                                Organization of material procurement
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
</article>