<div class="screens-swiper">

    <div class="swiper-wrapper screens-swiper__wrapper">

        <div class="swiper-slide">

            <article class="first-screen">

                <h1 class="first-screen__title">walter <span>House</span></h1>
            </article>
        </div>

        <div class="swiper-slide screens-swiper__slide_second-slide">

            <article class="second-screen ">

                <h2 class="second-screen__title">
                    elite renovation of your apartment
                </h2>

                <div class="second-screen__achievements achievements">

                    <ul class="achievements__list">

                        <li class="achievements__item">

                            <span class="achievements__number">18</span>

                            <p class="achievements__text achievements__text_long-text">years<br>
                                <span>on the market</span>
                            </p>

                        </li>

                        <li class="achievements__item">
                            <span class="achievements__number">237</span>

                            <p class="achievements__text">completed projects</p>
                        </li>
                        <li class="achievements__item">

                            <span class="achievements__number">50</span>

                            <p class="achievements__text">employees</p>
                        </li>
                    </ul>
                </div>
                <a class="second-screen__link" href="#">more info about us
                    <span>
                            <svg width="18" height="23"
                                 viewBox="0 0 18 23"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path d="M1 1L17 11.5L1 22" stroke="white" stroke-opacity="0.5"/>
                            </svg>
                        </span>
                </a>
            </article>
        </div>

        <div class="swiper-slide screens-swiper__slide_hidden-form">

            <load src="src/components/pages/home/gallery-screen.html"/>
        </div>
    </div>

    <div class="screens-swiper__pagination">

    </div>
</div>