<div class="steps">

    <div class="steps__container">

        <div class="steps__title">
            6 steps to your <br> WALTER house:
        </div>

        <div class="steps__content">

            <div class="steps__circle-container">

                <div class="steps__circle">

                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="8"
                            height="8"
                            viewBox="0 0 8 8"
                            fill="none"
                            id="start-circle"
                            class="hide start-circle"
                    >

                        <ellipse
                                cx="3.99921"
                                cy="4"
                                rx="4"
                                ry="4"
                                transform="rotate(90 3.99921 4)"
                                fill="#FFAC30"
                        />
                    </svg>

                    <div class="steps__circle-wrapper">

                        <svg
                                id="circle-second-step"
                                xmlns="http://www.w3.org/2000/svg"
                                width="235"
                                height="235"
                                viewBox="0 0 235 235"
                                fill="none"
                        >
                            <path
                                    d="M117.5 234C53.1588 234 1.00001 181.841 1.00001 117.5C1.00001 53.1588 53.1588 0.999992 117.5 0.999995C181.841 0.999998 234 53.1588 234 117.5C234 181.841 181.841 234 117.5 234Z"
                                    stroke="white"
                                    stroke-opacity="0.4"
                                    stroke-width="2"
                            />
                            <path
                                    id="circle-path2"
                                    d="M117.5 0C53.1588 0 1.00001 52.159 1.00001 116.5C1.00001 180.841 53.1588 233 117.5 233C181.841 233 234 180.841 234 116.5C234 52.159 181.841 0 117.5 0Z"
                                    fill="none"
                                    stroke="orange"
                                    stroke-width="2"
                            />
                        </svg>

                        <div class="steps__slider">

                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="46"
                                    height="46"
                                    viewBox="0 0 46 46"
                                    fill="none"
                            >

                                <ellipse
                                        cx="23"
                                        cy="23"
                                        rx="7"
                                        ry="7"
                                        transform="rotate(90 23 23)"
                                        fill="#FFAC30"
                                />

                                <path
                                        d="M23 37.5C14.9919 37.5 8.5 31.0081 8.5 23C8.5 14.9919 14.9919 8.5 23 8.5C31.0081 8.5 37.5 14.9919 37.5 23C37.5 31.0081 31.0081 37.5 23 37.5Z"
                                        stroke="#FFAC30"
                                        stroke-opacity="0.5"
                                        id="animated-path"
                                />

                                <path
                                        d="M23 45.5C10.5736 45.5 0.500002 35.4264 0.500003 23C0.500003 10.5736 10.5736 0.499998 23 0.499999C35.4264 0.5 45.5 10.5736 45.5 23C45.5 35.4264 35.4264 45.5 23 45.5Z"
                                        stroke="#FFAC30"
                                        stroke-opacity="0.2"
                                        id="animated-path-c"
                                />
                            </svg>
                        </div>
                    </div>
                    <span value="0" class="steps__value-span">1</span>
                </div>

                <ul class="steps__steps-list">

                    <li class="steps__step step step_show">

                        <img class="step__icon" src="/public-src/icons/step1.svg" alt="icon step" width="77" height="92" />

                        <div class="step__title">DRAFTING AN ESTIMATE</div>

                        <svg class="step__icon-row" width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L23 15.5L1 30" stroke="white" />
                        </svg>

                        <div class="step__text">
                            DEVELOPMENT OF TERMS OF REFERENCE, 3D VISUALIZATION AND CALCULATION OF THE ESTIMATE
                        </div>
                    </li>

                    <li class="steps__step step ">

                        <img class="step__icon" src="/public-src/icons/step2.svg" alt="icon step" width="77" height="92" />

                        <div class="step__title">CHECK OUT OF THE MEASURER</div>

                        <svg class="step__icon-row" width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L23 15.5L1 30" stroke="white" />
                        </svg>

                        <div class="step__text">
                            OUR SPECIALIST COMES TO YOU AT THE OBJECT FOR MEASURING AND PHOTO FIXING
                        </div>
                    </li>

                    <li class="steps__step step">

                        <img class="step__icon" src="/public-src/icons/step3.svg" alt="icon step" width="77" height="92" />

                        <div class="step__title">DRAFTING AN ESTIMATE</div>

                        <svg class="step__icon-row" width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L23 15.5L1 30" stroke="white" />
                        </svg>

                        <div class="step__text">
                            DEVELOPMENT OF TERMS OF REFERENCE, 3D VISUALIZATION AND CALCULATION OF THE ESTIMATE
                        </div>
                    </li>

                    <li class="steps__step step">

                        <img class="step__icon" src="/public-src/icons/step4.svg" alt="icon step" width="77" height="92" />

                        <div class="step__title">SIGNING
                            THE CONTRACT</div>

                        <svg class="step__icon-row" width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L23 15.5L1 30" stroke="white" />
                        </svg>

                        <div class="step__text">
                            AGREEMENT OF THE COST AND DATE OF COMPLETION OF WORKS, SIGNING OF THE CONTRACT
                        </div>
                    </li>

                    <li class="steps__step step">

                        <img class="step__icon" src="/public-src/icons/step5.svg" alt="icon step" width="77" height="92" />

                        <div class="step__title">BEGINNING
                            OF WORK</div>

                        <svg class="step__icon-row" width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L23 15.5L1 30" stroke="white" />
                        </svg>

                        <div class="step__text">
                            START OF REPAIR WORKS UNDER THE SUPERVISION OF A PERSONAL SUPERVISOR
                        </div>
                    </li>

                    <li class="steps__step step">

                        <img class="step__icon" src="/public-src/icons/step6.svg" alt="icon step" width="77" height="92" />

                        <div class="step__title">COMPLETION</div>

                        <svg class="step__icon-row" width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L23 15.5L1 30" stroke="white" />
                        </svg>

                        <div class="step__text">
                            COMPLETION OF REPAIRS, REMOVAL
                            OF CONSTRUCTION rubbish
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>