@use "_mixins.scss" as mix;

.call-back{
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  max-width: 46.25rem;
  width: 100%;
  height: 23.75rem;
  background: var(--pri-bc);
  padding: mix.rem(81) mix.rem(120) mix.rem(85) mix.rem(120);
  transition: opacity 0.3s ease;
  &_hidden{
    opacity: 0;
    pointer-events: none;
  }

  &__input-item{
    &:not(:last-child) {
      margin-bottom:3.7rem;
    }
  }

  &__button{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    color: var(--gold);
    margin-top: 1rem;
    span{
      margin-left: 7rem;
      position: relative;
      top: 5px;
      &::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: var(--gold);
        left: -100px;
        top: mix.rem(9.5);
      }
    }
  }
}

.field {
  position: relative;
  width: 100%;
  height: 23px;
  @include mix.respond-to('tablet') {

  }
  @include mix.respond-to('mobile') {

  }


  &__input {
    width: 100%;

    padding: 1.1rem 0.5rem;
    border-bottom: 1px solid rgba(186, 186, 186, 0.59);
    outline: none;
    background: transparent;
    font-weight: 400;
    font-size: 1.12rem;
  }



  &__label {
    position: absolute;
    top: 1rem;
    left: 0;
    color: grey;
    transition: 0.3s ease;
    cursor: text;

    font-weight: 400;
    font-size: 1.12rem;
  }

  &__input:not(:placeholder-shown) + &__label,
  &__input:focus + &__label {
    color: var(--black);
    font-size: 0.5rem;
    top: -0.3rem;
    left: -0rem;
    background: var(--white);
    padding: 0 0.2rem;

    z-index: 1;
  }
}

.is-invalid{
  border-bottom: 1px solid red;
}
.just-validate-error-label, .field__errors-inner{
  display: inline;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--pri-color) !important;
  padding: 0.1rem 0.5rem;
  background: red;
  position: relative;
  top: 5px;
  border-radius: 0.4rem;

  &::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right:7px solid transparent;
    border-bottom: 12px solid red;
    top: -0.8rem;
    left: 1rem;
  }
}

