@use "_variables.scss";
@use "_mixins.scss";
//====================================================================================================
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: mixins.rem(21.6) 0;
  background-color: var(--vulcan);
  z-index: 100;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    transition: color 0.3s ease;
  }

  a:hover {
    color: #456;
  }
}

.header_open {
  will-change: transform, opacity;
  transform: translateZ(0);
  animation: open-header 1s forwards;
}

.logo-block {
  display: flex;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 1.69rem;
  color: var(--white);
  gap: mixins.rem(8);

}

.logo-block {
  &__title:hover {
    color: #456;
  }

  svg path {
    color: #456;
  }
}

.logo-block_about {
  position: relative;
  top: 1px;
}

.menu {
  &__list {
    display: flex;
    gap: mixins.rem(40);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 1.1;
    color: var(--aluminium);
  }

  &__link_button {
    background: var(--steel-gray);
    border-radius: 0.5rem;
    padding: 0.88rem 1.5rem;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 1.4;
    color: var(--white);
  }

  &__link_button:active {
    background: #88888d;
  }
}

.active {
  color: var(--white);
}

@media (max-width: variables.$mobile) {
  .menu {
    position: relative;

    &__body {
      width: 200px;
      position: absolute;
      z-index: 100;
    }

    &__icon {
      position: absolute;
      right: 8px;
      bottom: -12px;
    }

    &__list {
      will-change: transform, opacity;
      transform: translateZ(0);
      max-width: 300px;
      width: 100%;
      padding: 20px;
      flex-direction: column;
      position: absolute;
      transform: translateX(200%);
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }
  .menu__list.open {
    will-change: transform, opacity;
    position: absolute;
    background-color: var(--vulcan);
    transform: translateX(-200px) translateZ(0px);
    padding-bottom: 40px;
    z-index: 100;
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: variables.$mobile) {
    display: block;
    // position: absolute;
    width: mixins.rem(30);
    height: mixins.rem(18);
    z-index: 105;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: transform 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: mixins.rem(2);
      background-color: var(--white);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - mixins.rem(1));
    }
  }
}

.menu-open {
  span {
    width: 0;
  }

  &::before,
  &::after {
  }

  &::before {
    will-change: transform, opacity;
    transform: translateZ(0);
    top: calc(50% - mixins.rem(1));
    transform: rotate(-45deg);
  }

  &::after {
    will-change: transform, opacity;
    transform: translateZ(0);
    bottom: calc(50% - mixins.rem(1));
    transform: rotate(45deg);
  }
}

@media (max-width: 414px) {
  .header__logo-block {
    margin-left: mixins.rem(0);
  }
  .logo-block {
    gap: 5px;

    &__title {
      font-weight: 700;
      font-size: 1.38rem;
    }

    &__logo {
      width: 2.38rem;
      height: 2.38rem;
    }
  }
}

.header_hidden {
  will-change: transform, opacity;
  transform: translateZ(0);
  opacity: 0;
}

@keyframes open-header {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes open-header {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
